<footer class="footer">
  <div class="container">
    <div class="rights">
      <div class="logo">
        <img src="assets/images/macaroons-logo.png" alt="logo">
      </div>

      <div class="rights-copyright">
        Все права защищены, 2020
      </div>
    </div>

    <div class="socials">
      <div class="socials-logo">
        <a href="#">
          <img src="assets/images/instagram.png" alt="instagram-logo">
        </a>
      </div>

      <div class="socials-descriptions">
        <a [href]="linkInstagram">Мы в Instagram</a>
      </div>
    </div>

    <div class="contacts">
      <div class="number">{{ phoneNumber | formPhone}}</div>
    </div>

    <div class="copyright">
      Все права защищены, 2020
    </div>
  </div>
</footer>
