<app-header [phoneNumber]="phoneNumber"></app-header>
<section class="main">
  <div class="container">

    <div class="main-info">
      <div class="main-info-title">
        <h1>
          Мягкие французские пироженки Macaroons
        </h1>
      </div>

      <div class="main-info-text">
        Побалуйте себя и своих близких самыми вкусными
        и ароматными домашними пироженками Macaroon!
      </div>

      <div class="main-info-actions">
        <button class="btn main-btn" (click)="scrollTo(catalog)">Выбрать макарун</button>
      </div>
    </div>

    <div class="main-image">
      <img src="assets/images/main-image.png" alt="macaroons">
    </div>

  </div>
</section>

<section class="advantages">
  <div class="container">

    <div class="advantages-info" id="info">
      <div class="advantages-description">
        <div class="advantages-title">
          <h2>
            Мы печём для вас вкуснейшие макаруны уже более 10 лет
          </h2>
        </div>

        <div class="advantages-text">
          Все пироженки мы готовим только из натуральных и
          качественных продуктов, без консервантов, ароматизаторов,
          красителей. Используем в приготовлении сливочное масло 82,5%,
          без дрожжей, маргарина, разрыхлителей и улучшителей муки.
        </div>
      </div>

      <div class="advantages-image">
        <img src="assets/images/big-macaroon.png" alt="macaroon">
      </div>
    </div>

    <div class="advantages-items">
      <div class="advantages-item" *ngFor="let advantage of advantages; let i = index">
        <div class="advantage-number"><span>{{ i+1 }}</span></div>
        <div class="advantage-title">{{ advantage.title }}</div>
        <div class="advantage-text">{{ advantage.text }}</div>
      </div>
    </div>
  </div>
</section>

<section class="catalog" #catalog id="catalog">
  <div class="container">
    <div class="catalog-title">
      <h2>
        Выберите свой макарун
      </h2>
    </div>

    <div class="catalog-items">
      <div class="catalog-item" *ngFor="let macaroon of macaroons">
        <div class="item-image">
          <img src="assets/images/{{macaroon.image}}" alt="macaroon">
        </div>
        <div class="item-name">{{macaroon.name}}</div>
        <div class="item-quantity">{{ macaroon.quantity }} шт.</div>
        <div class="item-price">{{ macaroon.price }} руб.</div>

        <div class="btn item-btn" (click)="addToCart(macaroon, order)">Заказать</div>
      </div>
    </div>
  </div>
</section>

<section class="order" #order id="order">
  <div class="container">
    <div class="strawberry1">
      <img src="assets/images/strawberry.png" alt="strawberry" class="strawberry1-img">
    </div>

    <div class="form-image">
      <img src="assets/images/macaroons.png" alt="macaroons">
    </div>
    <div class="form">
      <div class="form-title">
        <h2>Закажите макарун!</h2>
      </div>

      <div class="form-description">
        Выберите понравившийся макарун, заполните форму и
        ожидайте звонка нашего пекаря!
      </div>

      <div class="form-label">
        Ваш выбор
      </div>

      <input type="text" class="input" placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.title">

      <div class="form-label">
        Заполните данные для заказа
      </div>

      <input type="text" class="input" placeholder="Ваше имя" [(ngModel)]="formValues.name">
      <input type="text" class="input" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">

      <div class="btn form-btn" (click)="createOrder()">Оформить заказ</div>
    </div>

    <div class="strawberry2">
      <img src="assets/images/strawberry.png" alt="strawberry" class="strawberry2-img">
    </div>
  </div>
</section>

<app-footer [linkInstagram]="linkInstagram" [phoneNumber]="phoneNumber"></app-footer>

<div class="gift" [style.display]="showPresent ? 'flex' : 'none'">
  <img src="assets/images/present.png" alt="present" class="present">

  <div class="message">
    Оформите заказ и получите подарок!
  </div>
</div>
