.main {
  background: #eba8b1;
  padding: 127px 0 108px 0;
  overflow: hidden;
}

.main .container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
}

.main-info-title h1 {
  font-size: 55px;
  font-family: "Tavolga", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.091;
  margin-bottom: 60px;
}

.main-info-text {
  font-size: 18px;
  font-family: "Tavolga", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.389;
  margin-bottom: 80px;
  max-width: 347.2px;
}

.main-btn {
  padding: 22px 5px 21px 5px;
  width: 240px;
  height: 60px;
  margin-bottom: 38px;
}

.main-image {
  position: relative;
  padding-right: 20px;
  z-index: 1;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image::after,
.main-image::before  {
  content:'';
  position: absolute;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 1px solid rgb(113, 8, 30);
  z-index: -10;
  animation: pulse 3s ease infinite;
}

.main-image::before {
  animation: pulse 3s ease .5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}

.advantages {
  background: #ffefef;
  padding: 119px 0 120px 0;
  display: flex;
}

.advantages-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 145px;
}

.advantages-title h2 {
  font-size: 45px;
  font-family: "Tavolga", sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  margin-bottom: 60px;
}

.advantages-text {
  font-size: 18px;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  max-width: 400px;
}

.advantages-info {
  margin-bottom: 88px;
}

.advantages-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 83px;
}


.catalog {
  background: #eba8b1;
  padding: 120px 0 120px 0;
}

.catalog-title h2 {
  font-size: 45px;
  font-family: "Tavolga", sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 143px;
  text-align: center;
}

.catalog-items {
  display: grid;
  grid-template-columns: minmax(260px, 1fr) minmax(260px, 1fr) minmax(260px, 1fr) minmax(260px, 1fr);
  column-gap: 30px;
  justify-content: center;
  justify-items: center;
}


.order {
  background: #ffefef;
  padding: 90px 0 120px 0;
}

.order .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 161px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 711px;
}

.form-title h2 {
  font-size: 45px;
  font-family: "Tavolga", sans-serif;
  color: rgb(51, 25, 7);
  margin-bottom: 41px;
}

.form-description {
  font-size: 18px;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  margin-bottom: 23px;
}

.form-label {
  font-size: 18px;
  font-family: "GilroyBold", sans-serif;
  color: rgb(18, 10, 6);
  margin-bottom: 21px;
  margin-top: 25px;
}

.input {
  border: 1px solid rgb(130, 19, 40);
  border-radius: 30px;
  padding: 23px 25px 23px 25px;
  font-size: 15px;
  font-family: "GilroyBold", sans-serif;
  color: rgb(118, 12, 34);
  width: 294px;
  height: 60px;
  box-sizing: border-box;
  margin-bottom: 15px;
  outline: none;
  background: none;
}

.input::placeholder {
  font-size: 15px;
  font-family: "GilroyBold", sans-serif;
  color: rgb(118, 12, 34);
}

.form-btn {
  padding: 22px 5px 21px 5px;
  width: 294px;
  height: 60px;
}

.strawberry1 {
  position: absolute;
  top: 48px;
  left: -20px;
  animation: move 2s linear infinite;
}

@keyframes move {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, 0);
  }
}

.strawberry2-img {
  transform: rotate(52.14deg);
  width: 50px;
}

.strawberry2 {
  position: absolute;
  bottom: 198px;
  right: 153px;
  animation: move 2.5s linear infinite;
}

.cart {
  position: relative;
}

.present {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 90px;
  height: 90px;
  background: linear-gradient(0, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000;

}

.present img {
  width: 50%;
  height: auto;
  object-fit: contain;
}

.present:hover {
  box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.gift {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  border-radius: 50%;
}

.message {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-family: "GilroyMedium", sans-serif;
  padding: 15px 12px 14px 11px;
  box-sizing: border-box;
  color: rgb(119, 10, 29);
  line-height: 17px;
  border: 2px solid rgb(119, 10, 29);
  border-radius: 10px;
  background-color: rgb(254, 239, 238);
  position: fixed;
  width: 120px;
  height: 64px;
  right: 140px;
  bottom: -64px;
  animation: message_close 1s linear forwards;
}

.message::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: rgb(254, 239, 238);
  border: 2px solid rgb(119, 10, 29);
  border-bottom: none;
  border-left: none;
  transform: rotate(45deg);
  position: absolute;
  right: -10px;
  top: 21px;
}

.gift:hover .message {
  animation: message_open 1s linear forwards;
}

.count {
  position: absolute;
  bottom: 90px;
  right: 25px;
  border-radius: 50%;
  border: 2px solid rgb(119, 10, 29);
  color: rgb(119, 10, 29);
  background: white;
  width: 25px;
  height: 25px;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000;
}

@keyframes message_open {
  0% {
    opacity: 0;
    right: 140px;
    bottom: -64px;
  }
  100% {
    opacity: 1;
    transform: translate(0, -104px);
  }
}

@keyframes message_close {
  0% {
    opacity: 1;
    transform: translate(0, -104px);
  }
  100% {
    opacity: 0;
    right: 140px;
    bottom: -64px;
  }
}


@media screen and (max-width: 1139px) {
  .main {
    padding: 62px 0 450px 0;
  }

  .main .container {
    flex-wrap: wrap;
  }

  .main-info-title h1 {
    margin-bottom: 74px;
    max-width: 579.25px;
  }

  .main-info-text {
    margin-bottom: 41px;
    max-width: 348.96px;
  }

  .main-image {
    position: absolute;
    top: 500px;
    left: 180px;
  }


  .advantages-info {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .advantages-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .advantages-title {
    max-width: 478px;
  }

  .advantages-text {
    max-width: 671px;
  }

  .advantages-image {
    max-width: 302px;
  }

  .advantages-image img {
    width: 100%;
  }

  .advantages-items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 80px;
    column-gap: 54px;
  }


  .catalog-items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 136px;
  }


  .order .container {
    flex-direction: row-reverse;
    justify-content: flex-end
  }

  .form-image img {
    width: 352px;
  }

  .form-image {
    position: absolute;
    right: 30px;
    bottom: -100px;
  }

  .form-description {
    width: 403px;
  }

  .strawberry1 {
    left: 50%;
    top: calc(50% - 80px);
  }

  .strawberry2 {
    right: 110px;
    top: calc(50% - 170px);
  }
}


@media screen and (max-width: 767px) {
  .main {
    padding: 62px 0 43px 0;
  }

  .main .container {
    justify-content: center;
  }

  .main-info {
    justify-content: center;
    align-items: center;
  }

  .main-info-title h1 {
    font-size: 32px;
    text-align: center;
    max-width: 336.99px;
  }

  .main-info-text {
    text-align: center;
    max-width: 347.2px;
  }

  .main-image {
    position: relative;
    top: 0;
    left: 0;
  }

  .main-image img {
    width: 250px;
  }


  .advantages-title {
    max-width: 316px;
    margin: 0 auto;
  }

  .advantages-title h2 {
    font-size: 30px;
  }

  .advantages-text {
    font-size: 16px;
  }

  .advantages-items {
    grid-template-columns: minmax(1fr, 165px) minmax(1fr, 165px);
    grid-template-rows: 1fr 1fr;
    row-gap: 100px;
    column-gap: 15px;
  }


  .catalog-items {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 136px;
  }


  .form {
    max-width: 345px;
  }

  .form-title h2 {
    font-size: 30px;
  }

  .form-image, .strawberry2 {
    display: none;
  }

  .form-description {
    font-size: 16px;
    max-width: 100%;
  }

  .input {
    width: 100%;;
  }

  .form-btn {
    width: 100%;;
  }

  .strawberry1 {
    width: 72px;
    top: 110px;
    left: 260px;
  }
}


@media screen and (max-width: 374px) {
  .advantages {
    padding: 60px 0;
  }

  .advantages-items {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
  }

  .catalog {
    padding: 60px 0;
  }

  .form {
    max-width: 290px;
  }

  .strawberry1 {
    width: 72px;
    top: 110px;
    left: 220px;
  }
}
