* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Gilroy';
  src: url("assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: 'GilroyMedium';
  src: url("assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: 'GilroyBold';
  src: url("assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: 'GilroyExtraBold';
  src: url("assets/fonts/Gilroy-Extrabold.ttf");
}

@font-face {
  font-family: 'Tavolga';
  src: url("assets/fonts/Ivan Petrov - Tavolga Free.ttf");
}

body {
  font-family: 'Gilroy', sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.contacts {
  font-size: 16px;
  font-family: "GilroyBold", sans-serif;
  color: rgb(255, 255, 255);
}


@media screen and (max-width: 767px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 374px) {
  .container {
    max-width: 375px;
  }
}


